# Dependencies
node_modules/
backend/node_modules/

# Build files
dist/

# Environment variables
.env

# SQLite database files
backend/src/db/library.db
backend/src/db/library.db-shm
backend/src/db/library.db-wal